
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

h2{
    font-size: 35px;
    color: #000000;
}
p{
    font-size: 25px;
    text-align: left;
    color: #000000;
    line-height: 35px;
}

/* ============================Navigation Bar CSS start======================================= */
#header {
    display: flex;
    justify-content: space-between;
}

.top-nav {

    width: auto;
    height: auto;
    background-color: #000000;
    border: 0px solid #000000;

}

/* ===================================logoipsum logo css=========================================== */


#top-logo {
    width: 250px;
    height: auto;
    margin: 20px 20px;
    cursor: pointer;
}

/* ===================================menu css starts===========================================*/
.menus {

    font-size: 20px;
    text-align: center;
    display: flex;

}

.menus ul {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.menus ul li {
    list-style: none;
    margin-left: 50px;
    cursor: pointer;

}

.menus a {
    text-decoration: none;
    color: #ffffff;


}


#menu1 i{
    margin-left: 5px;
    color: #ffffff;
}


/* =========================================Navigation Bar ============================================================ */


/*==========================================dummy image css================================================= */
.dummy-images img {
    max-width: 100%;
    object-fit: contain;
    cursor: not-allowed;
    margin: 0;
    padding: 0;


}


/* =========================================Css of icons in between loren ipsum headings===================================================== */
.media-icons {
    font-size: 48px;
    line-height: 68px;
    text-align: center;


}

.inner-icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*======================================section css start========================================================= */
.section{
    display: flex;
    margin-bottom: 50px;
    justify-content: space-around;
}

.section div{
    width: 25%;
    text-align: left;
}




.section img {
    align-items: left;
    width: 240px;
    height: auto;
    padding: 5px, 5px;

}

/* ===================================Tabs Css start--======================================================= */
.tab-section{
    position: relative;
    width: 50%;
    left:20%;
    top: 0;
}

.tabs-content {
    display: flex;
    margin-bottom: 50px;
    filter: drop-shadow(0 0 5px #c1bebe);
    background-color: #ffffff;
}
#tabButtons{
    display: flex;

}

.tab-button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    color: #ffffff;
    width: 100px;
    height: 50px;
    margin: 0px;
    padding: 7px 13px;
    font-size: 20px;
    border: 0px
}

#tabBtn1 {
    
    background: #ff0000;
    
}

#tabBtn2 {
   
    background: grey;

}


#tab2-content {
    display: none"

}


/* ===========================================Footer Css start====================================================== */
.footer {

    align-items: center;
    width: auto;
    height: auto;
    background-color: #000000;
}

/* -----===================================Subscribe button ===========================================*/
#button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#subscribe {
    justify-content: center;
    cursor: pointer;
    width: 190px;
    height: 44px;
    border-radius: 37px;
    background-color: #ed3155;
    border: 1px solid #000000;
    margin-top: 15px;
    color: #ffffff;
}


/* ===================================Footer links css===========================================*/
#footer-links {
    display: flex;
    justify-content: center;   
    align-items: center;
    margin: 15px;
    font-size: 18px;
    color: #ffffff;
}

.each-footer-link{
    margin: 40px;
    cursor: pointer;
}
.footer-link-pipes{
    color: #ffffff;
}

/* ===================================footer logo css=========================================== */
#footer-logo{

    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-logo img{
    width:150px;
    height: auto;
    margin-bottom: 25px;
    cursor: pointer;

}

/* ===================================Footer css ends=============================================================== */